body {
  margin: 0;
  background: #111;
  color: white;
  font-family: Arial;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

input, button {
  padding: 10px;
  margin: 5px;
}

video {
  width: 100%;
  margin-top: 20px;
  background: black;
}
